<form class="form" action="/login"  method="post" role="form" autocomplete="off">
    <fieldset>
      <legend>Login</legend>
      <div class="mb-3">
        <label for="titulo" class="form-label">Usuario</label>
        <input required name="user" type="text" id="disabledTextInput" class="form-control titulo" placeholder="Ingrese el usuario..">
      </div>
      <div class="mb-3">
        <label for="titulo" class="form-label">Contraseña</label>
        <input required name="pass" type="password" id="precio" class="form-control precio" placeholder="Ingrese la contraseña..">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </fieldset>
  </form>