<form class="form" action="/login"  method="post" role="form" autocomplete="off">
    <fieldset>
      <legend>Login</legend>
      <div class="mb-3">
        <label for="titulo" class="form-label">Usuario</label>
        <input required name="usuario" type="text" id="disabledTextInput" class="form-control titulo" placeholder="Ingrese el usuario..">
      </div>
      <div class="mb-3">
        <label for="titulo" class="form-label">Contraseña</label>
        <input required name="contrasena" type="password" id="precio" class="form-control precio" placeholder="Ingrese la contraseña..">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a class="btn btn-danger" href="/signup"><span class="fa fa-sign-out"></span><span>Signup</span></a>
      </div>
      
    </fieldset>
  </form>