<!-- <form method="POST" action="api/productos/guardar">
    <div>
        <label for="titulo">titulo</label>
        <input type="text" name="titulo" required>
    </div>
    <div>
        <label for="precio">Precio</label>
        <input type="number" name="precio" required>
    </div>
    <div>
        <input type="submit">
    </div>
</form> -->
<form action="" class="form" id="form">
    <fieldset>
      <legend>Ingresar un producto</legend>
      <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input required name="titulo" type="text" id="disabledTextInput" class="form-control titulo" placeholder="Ingrese el titulo..">
      </div>
      <div class="mb-3">
        <label for="titulo" class="form-label">Precio</label>
        <input required name="precio" type="number" id="precio" class="form-control precio" placeholder="Ingrese el precio..">
      </div>
      <button type="" class="btn btn-primary">Enviar</button>
    </fieldset>
  </form>