<!-- <table>
    <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Precio</th>
    </tr>
    <% productos.forEach(e => { %>
        <tr>
            <td>
                <%= e.id %> 
            </td>
            <td>
                <%= e.titulo %> 
            </td>
            <td>
                <%= e.precio %> 
            </td>
        </tr>
     
    <% }) %>
</table> -->
<div>
    <h1 id="titulo">Productos</h1>
    <table class="table table-dark table-striped" id="table">
        <thead>
            <tr>
            <th scope="col">#id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
</div>